<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
    <h2>Update Category</h2>
    <form action="/categories/update" method="post" th:object="${category}">
        <input type="hidden" th:field="*{id}" />
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" required/>
        <button type="submit">Update Category</button>
    </form>
</body>
</html>
